* {
  font-family: 'Rubik', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  color: #293036;
  margin: 0px;
  padding: 0px;
}

.lead {
  font-size: 2.125rem;
}

.contato {
  font-size: 1.1875rem;
  line-height: 2.84375rem;
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 3.6875rem;
  letter-spacing: -1px;
}

h1 > span {
  border-bottom: 10px solid #8ed8f8;
}

h2 {
  font-weight: 400;
  font-size: 1.9rem;
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

a {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  line-height: 1.03rem;
  text-transform: uppercase;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #0095da;
}

/* visited link */
a:visited {
  color: #0095da;
}

/* mouse over link */
a:hover {
  color: #005677;
}

/* selected link */
a:active {
  color: #0095da;
}

.text-expl {
  line-height: 1.4rem;
  font-size: 1rem;
}

.color-blue {
  color: #0095da;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.flex-container-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 980px;
  height: 17vh;
}

.container-patamar {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.titulo2 {
  max-width: 30ch;
}

.novo-patamar {
  max-width: 700px;
  margin-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 17vh;
  margin-bottom: 40px;
}

.div-flex1 {
  max-width: 70%;
  margin-left: 30px;
}

.div-flex2 {
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
  max-width: 30%;
}

.flex-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
}

.bg-container {
  max-width: 70%;
  margin: 0;
  padding: 100px 0 50px 0;
  background-color: rgba(142, 216, 248, 0.1);
  background-image: url('./assets/header/mapa.svg');
  background-position: -200% 0%;
  background-repeat: no-repeat;
}

.container-hero {
  margin: 0 0 0 100px;
  max-width: 80vw;
  max-height: 563px;
}

.foto-hero {
  align-self: right;
}

.titulo1 {
  max-width: 85ch;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  max-width: 230px;
  text-align: center;
  margin: 20px;
}

.card > img {
  margin-bottom: 20px;
}

.card > h4 {
  margin-bottom: 10px;
}

.demonstracao-flex {
  max-width: 100%;
  background-color: #293036;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.demo-info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
}

.demo-limite {
  max-width: 550px;
  max-height: 400px;
  display: flex;
  flex-direction: row;
}

.demo-1 {
  align-self: flex-start;
}

.demo-2 {
  flex-direction: column;
  padding-left: 30px;
}

.texto {
  /* align-self: flex-start; */
}

.texto > p {
  color: #fff;
}

.botao {
  padding-top: 30px;
}

.botao > button > a:hover {
  color: #0095da;
}

.botao > button {
  all: unset;
  cursor: point;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 40px;
}

.botao > button:hover {
  background-color: #005677;
}

.contato-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.contato-texto {
  text-align: center;
  max-width: 100%;
  flex-grow: 2;
  margin: 60px 0 30px 0;
}

.contato-form {
  height: auto;
  max-width: 50%;
  flex-grow: 1;
}

.contato-dados {
  max-width: 50%;
  flex-grow: 1;
}

.contato-dados > ul > li {
  list-style: none;
}

.contato-dados > ul > li > a {
  font-weight: 400;
  color: #293036;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.1875rem;
}

.contato-dados > ul > li > img {
  padding-right: 10px;
}

.footer-flex {
  background-color: #293036;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  max-width: 100%;
  margin-top: 40px;
}

.footer-texto > p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #88eeff;
}

.footer-texto > a {
  text-transform: lowercase;
  font-size: 0.8rem;
  font-weight: 400;
  color: #88eeff;
  letter-spacing: 0;
}

.footer-icones > ul > li {
  list-style: none;
  display: inline;
  padding-left: 10px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #293036;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #293036;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #293036;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #293036;
}

input::placeholder,
textarea::placeholder {
  color: #293036;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #293036;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #293036;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #293036;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #e2dedb;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #e2dedb;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #e2dedb;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #e2dedb;
}

#form {
  max-width: 500px;
  margin: 18px auto 0 auto;
}

input {
  font-size: 0.875em;
  max-width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #293036;

  border: solid 1px #293036;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #293036;
  color: #e2dedb;
}

textarea {
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #293036;
  font-size: 0.875em;

  border: solid 1px #293036;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #293036;
  color: #e2dedb;
}

#submit {
  max-width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-size: 0.875em;
  color: #293036;

  outline: none;
  cursor: pointer;

  border: solid 1px #293036;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

/* 576
768
992
1200 */

/* celular */
@media (max-width: 576px) {
  .flex-hero {
    flex-direction: column;
    text-align: center;
    order: -1;
  }
}
